@import url("https://use.typekit.net/lra2unb.css");

body {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F4EFF0;
  color: #313131;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.wrapper {
  grid-template-columns: 20px 1fr 20px
}

h1,h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: italic;
  grid-column: 2/2;
  font-size: 48px;
  line-height: 85%;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.01em
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 500;
  /* line-height: 20px; */
  /* or 111% */
  letter-spacing: -0.01em;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 1em;
}

@media (min-width: 930px) {
  .wrapper {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }
  
}

/* btn styles */



.secondaryBtn {
  grid-column: 2;
  color: #81777b;
  font-weight: 500;
  border-bottom: medium solid #81777b;
  width: 76px;
  cursor: pointer;
  font-size: 22px;
}

#skipBtn {
  width: 120px;
}

@media (min-width: 930px) {
  .wrapper {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* .btn {
    width: 100%;
  } */
}

/* progress bar */

.progress-bar, .progress-bg {
  display: block;
  background: #e20613;
  height: 30px;
  transition: width .3s ease;
  margin-bottom: 4px;
  min-width: 20%;
  position: sticky;
  top: 0;
}

.progress-bg, .progress-label {
  position: absolute;
  top: 0px;
}

.progress-bg {
  width: 100%;
  z-index: -999;
  background: black;
}

.progress-label {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 15px;
  position: absolute;
  left: 15px;
  top: 5px;
}

/*  */

.all-wrap {
  grid-column: 2;
  margin-top: 15px;
  padding: 15px 0;
}

.skip-wrap {
  grid-column: 2;
  margin-top: 30px;
  padding: 15px 0;
}

li.skipPolicy {
  align-self: flex-end;
  padding: 10px 15px;
  flex: 0 1 200px;
  border: none;
  grid-column: 2;
  color: #81777b;
  font-weight: 500;
  border-bottom: medium solid #81777b;
  width: 72px;
  cursor: pointer;
}

li.skipPolicy:hover {
  padding: 8px 13px;
}

li a {
  color: slategrey;
}

/* page styling */

/* intro */

#intro {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden;
}

#intro #header h1 {
  color: black;
  margin: 0px;
  line-height: .8em;
}

#intro #header h1:nth-of-type(2) {
  text-align: right;
  color: #e20613;
  max-width: 483px;
}

#intro p {
  font-family: neue-haas-grotesk-text, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  /* or 111% */
  letter-spacing: -0.01em;
}

#intro #gifWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5px;
}

#intro #gifWrap img {
  max-width: 70%;
  align-self: center;
  justify-self: center;
}

@media (min-width: 930px) {
  #intro {
    max-width: 20000px;
    padding: 60px 60px;
    margin-top: 30px;
  }

  #header {
    width: auto;
    justify-self: center;
  }

  #intro #header h1:nth-of-type(2) {
    text-align: right;
    color: #e20613;
    max-width: 308px;
  }

  #intro>p, #intro .btn {
    grid-column: 1;
  }

  #intro>p {
    grid-row: 2;
  }

  #intro>.btn {
    height: 100px;
    background: #e20613;
    color: white;
    width: 50%;
    justify-self: center;
  }

  #intro>.btn:hover {
    background: none;
    border: 2px solid black;
    color: black;
  }

  #intro>#gifWrap {
    grid-column: 2/4;
    grid-row: 1/4;
    margin-top: 0px;
    padding: 30px;
  }
}

/* policy styling */

#policyWrapper {
  padding: 0px 20px 0px 20px;
}

ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#policyWrapper ul { 
  grid-column: 2/2;
}

.choice {
  padding: 20px;
  min-width: 100%;
  min-height: 90px;
  margin: 10px;
  border: 2px solid #e20613;
  border-radius: 14px;
  background: #F4EFF0;
  box-sizing: border-box;
  cursor: pointer;
  
  color: #e20613;
  text-align: center;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 500;
  font-style: normal;
  
  display: flex;
  justify-content: center;
  vertical-align: middle;

}


li:hover {
  color: black;
  border-color: black;
}

@media (min-width: 930px) {
  ul {
    justify-content: start;
  }

  .choice {
    min-width: 0px;
    width: 30%;
    font-size: 20px;
    /* height: 100px; */
  }


  #policyWrapper {
    grid-template-columns: 200px 1fr 200px;
  }

}

/* postcode */

.postcode-wrap {
  grid-column: 2/2;
}

.postcode-wrap form {
  display: flex;
  flex-direction: column;
}

.postcode-wrap input {
  border-radius: 10px;
  font-size: 20px;
  /* margin: 20px; */
}

.postcode-wrap input[type=text] {
  border: 2px solid #81777b;
  background-color: #fafafa;
  font-family: neue-haas-grotesk-text, serif;
  font-weight: 600;
  padding: 20px 0px 20px 10px;
  text-transform: uppercase;
}

.postcode-wrap input[type=submit] {
  padding: 15px 0px 15px 0px;
  cursor: pointer;
  background-color: #e20613;
  color: white;
  border: none;
  margin-top: 20px;
  font-family: neue-haas-grotesk-text, serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.postcode-wrap input[type=submit]:hover {
  background: none;
  border-color: black;
  color: black;
} 

.postcode-error {
  color: #e20613;
  margin: 8px 0 15px;
}

@media (min-width: 930px) {
  .postcode-wrap>form {
    flex-direction: row;
  }

  .postcode-wrap input[type=text], .postcode-wrap input[type=submit] {
    height: 100%;
    margin: 40px 40px 40px 0px;
  }
  
  .postcode-wrap input[type=text] {
    padding: 18.5px;
  }
  .postcode-wrap input[type=submit] {
    padding: 20px;
    border: 2px solid #e20613;
    flex-grow: 2;
  };

  .postcode-error {
    color: #e20613;
    margin: 8px 0 15px;
    font-size: 22px !important;
  }
}

/* choices */

/* 13fr 7fr 18fr 12fr */

#concludeHed {
  grid-column: 1/4;
  background: #e20613;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
}

#concludeHed div h1:nth-of-type(2), #concludeHed div h1:nth-of-type(4){
  color: white;
  padding-left: 45px;
}

#concludeHed div {
  grid-column: 2;
  display: flex;
  flex-direction: column;

  padding: 30px 0px 30px 0px;
}

#concludeBody {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

#concludeBody p {
  font-family: neue-haas-grotesk-text;
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
}

#concludeFooter {
  padding: 10px;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: subgrid;
  background: #e20613;
  color: white;
  position: sticky; 
  bottom: 0;
}

#concludeFooter h3, #concludeFooter div {
  font-family: neue-haas-grotesk-text, sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}

#concludeFooter>div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-icon {
  fill: #e20613;
  color: red;
  /* margin-right: 20px; */
}

.social-icon>g:first-of-type>rect {
  fill: white;
}

.social-icon>g:last-of-type>path {
  fill:#e20613;
}


@media (min-width: 930px) {

  #concludeWrapper {
    grid-template-columns: 1fr 600px 1fr;
  }
  #concludeHed {
    grid-template-columns: subgrid;
  }
  #concludeHed h1:nth-of-type(2), #concludeHed div h1:nth-of-type(4){
    color: white;
    text-align: right;
    max-width: 296px;
  }

  #concludeBody {
    padding: 0px;
  }

  #concludeBody h2 {
    font-size: 48px;
  }

  #concludeFooter {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 0px;
  }

  #concludeFooter>h3 {
    grid-column: 2;
  }

  #concludeFooter>div {
    grid-column: 3;
    align-items: center;

  }
}