@import url("https://use.typekit.net/lra2unb.css");

body {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F4EFF0;
  color: #313131;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 20px 1fr 20px
}

h1,h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: italic;
  grid-column: 2/2;
  font-size: 3rem;
  line-height: 85%;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.01em
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* or 111% */
  letter-spacing: -0.01em;
}

h2 {
  font-size: 32px;
}

.btn {
  background-color: #e20613;
  border-radius: 3px;
  padding: 10px 15px;
  color: #EEE;
  text-align: center;
  font-size: 2em;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}


h3 {
  font-size: 1em;
}

/* list styling */

ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#policyWrapper ul { 
  grid-column: 2/2;
}

li {
  width: 100%;
  margin: 15px 10px 0;
  padding: 18px 18px;
  flex: 0 1 300px;
  border: 2px solid #e20613;
  border-radius: 14px;
  background: #F4EFF0;
  box-sizing: border-box;
  cursor: pointer;
  
  color: #e20613;
  text-align: center;
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* btn styles */

.secondaryBtn {
  grid-column: 2;
  color: #81777b;
  font-weight: 500;
  border-bottom: medium solid #81777b;
  width: 76px;
  cursor: pointer;
  font-size: 22px;
}

#skipBtn {
  width: 120px;
}

/* progress bar */

.progress-bar, .progress-bg {
  display: block;
  background: #e20613;
  height: 30px;
  transition: width .3s ease;
  margin-bottom: 4px;
  min-width: 20%;
}

.progress-bg, .progress-label {
  position: absolute;
  top: 0px;
}

.progress-bg {
  width: 100%;
  z-index: -999;
  background: black;
}

.progress-label {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 15px;
  position: absolute;
  left: 15px;
  top: 5px;
}

/*  */

.all-wrap {
  grid-column: 2;
  margin-top: 15px;
  padding: 15px 0;
}

.skip-wrap {
  grid-column: 2;
  margin-top: 30px;
  padding: 15px 0;
}

li.skipPolicy {
  align-self: flex-end;
  padding: 10px 15px;
  flex: 0 1 200px;
  border: none;
  grid-column: 2;
  color: #81777b;
  font-weight: 500;
  border-bottom: medium solid #81777b;
  width: 72px;
  cursor: pointer;
}

li.skipPolicy:hover {
  padding: 8px 13px;
}

li a {
  color: slategrey;
}

/* page styling */

/* intro */

#intro {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
}

#intro #header h1 {
  color: black;
  margin: 0px;
  line-height: .8em;
}

#intro #header h1:nth-of-type(2) {
  text-align: right;
  color: #e20613;
  max-width: 310px;
}

#intro p {
  font-family: neue-haas-grotesk-text, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  /* or 111% */
  letter-spacing: -0.01em;
}

#intro .btn {
  display: flex;
  min-width: 200px;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  padding: 0px;
  border-radius: 14px;
}

#intro #gifWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

/* #gifWrap img {
  border: thin dashed darkblue;
  width: 40%;
} */

/* postcode */

.postcode-wrap {
  grid-column: 2/2;
}

.postcode-wrap form {
  display: flex;
  flex-direction: column;
}

.postcode-wrap input {
  border-radius: 10px;
  font-size: 20px;
  /* margin: 20px; */
}

.postcode-wrap input[type=text] {
  border: 2px solid #81777b;
  background-color: #fafafa;
  font-family: neue-haas-grotesk-text, serif;
  font-weight: 600;
  padding: 20px 0px 20px 10px;
  text-transform: uppercase;
}

.postcode-wrap input[type=submit] {
  padding: 15px 0px 15px 0px;
  cursor: pointer;
  background-color: #e20613;
  color: white;
  border: none;
  margin-top: 20px;
  font-family: neue-haas-grotesk-text, serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;

}

.postcode-error {
  color: #e20613;
  margin: 8px 0 15px;
}

/* choices */

#concludeHed {
  grid-column: 1/4;
  background: #e20613;
  display: grid;
  grid-template-columns: subgrid;
}
#concludeHed div h1:nth-of-type(2), #concludeHed div h1:nth-of-type(4){
  color: white;
  text-align: right;
}

#concludeHed div {
  grid-column: 2;
  display: flex;
  flex-direction: column;

  padding: 30px 0px 30px 0px;
}

#concludeBody {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

#concludeBody p {
  font-family: neue-haas-grotesk-text;
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
}

#concludeFooter {
  padding: 20px;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: subgrid;
  background: #e20613;
  color: white;
}

#concludeFooter h3, #concludeFooter div {
  font-family: neue-haas-grotesk-text, sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
}

#concludeFooter div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 5px;
}

.social-icon {
  fill: #e20613;
  color: white;
  /* margin-right: 20px; */
}

.social-icon g rect {
  fill: white;
}

@media (min-width: 600px) {
  li:hover {
    color: black;
    border-color: black;
  }
}